
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greeting</title>
</head>
<body>
    @ViewBag.Greeting World (from the view)
</body>
</html>
